html{
    height: 100%;
} 
body
{
margin: 0;
    padding: 0;
    font-family: sans-serif;
background-size:100% 100%;
}

ul{
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
li a {
  float: left;
  display: block;
  color:yellow;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Links - change color on hover */
li a:hover {
  background-color:#ddd;
  color: white;
}




ul
{
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
background-color:red;
}

{
float:right;
marigin-right:40px;
margin-top:0px;
}

li a:hover
{
background-color:#6633CC;
}





/* Style The Dropdown Button */
.dropbtn {
  font-family : 'Titillium Sans And Dosis';
  background-color: Azure;
  padding: 18px;
  font-size: 18px;
   color: black;
  border: none;
  cursor: pointer;
  margin-right: 10px; 
 
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width:250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #4682B4;
}
