body {
	background-color:lightgray;
	text-align: justify;
        text-justify: inter-word;
}

.navbar-default{
width:100%;
background:azure;


}
p
{
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif; 
	font-size: 16px; 
	font-style: normal; 
	font-variant: normal;	
	font-weight:500; 
	line-height: 26.4px;
 
}


li
{
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif; 
	font-size: 16px; 
	font-style: normal; 
	font-variant: normal;	
	font-weight: 500; 
	line-height: 26.4px;
}

h1 {
	color: Red;
    
	font: bold;
	font-family:'Playfair Display', serif;
	font-size: 30px; 
	font-style: normal; 
	font-variant: normal;	
	font-weight: 700; 
	line-height: 26.4px;
    
}



h2 {
	color: green;
    
	font: bold;
    
	background-color: white;
    
	font-family: 'Times New Roman', Times, serif;
}



h3 {
	color: green;
    
	font: bold;
    
	background-color: white;
    
	font-family: 'Merriweather', serif;
} 


img {
    
	padding-top: 10px;
    
	padding-right: 20px;
    
	padding-bottom: 10px;
    
	padding-left: 20px;
	

}



.container {
	background-color: white;

}






.navbar-brand {

	background-color:bisque;

	height: 86px;
	font: bold;
	font-size: 20px;
	

}



 .dropbtn:hover {
  background-color: #4682B4;
	
}








/* Style The Dropdown Button */
.dropbtn {
  font-family : 'Titillium Sans And Dosis';
  background-color: Azure;
  padding: 30px;
  font-size: 18px;
   color: black;
  border: none;
  cursor: pointer;
  margin-right: 0px; 
 
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width:250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
background-color: #f1f1f1
text-transform:uppercase;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  transition:0.5 s;
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #4682B4;
  text-transform:uppercase;
}
